.content {
  width: 100%;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

.title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 100%;
  text-align: center;

  .localSpan {
    color: var(--primary-color);
    font-size: 1rem;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  align-items: start;
}

.text {
  font-size: 1.2rem;
  color: var(--text-color-title);
  font-weight: 400;
  font-size: 0.875rem;
  text-align: right;
  max-width: 100%;
  width: 100%;
}

.btnS {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
}

.btnS .btn {
  width: 5.4375rem;
  height: 1.9375rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 100%;
  border-radius: 0.5rem;
  white-space: nowrap;
}

.btnS .btn:first-child {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btnS .btn:last-child {
  background-color: var(--white-color);
  color: var(--primary-color);
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  position: relative;
}

.imageWrapper img {
  margin: 0 1rem;
  width: 45%;
  height: auto;
}

.imageWrapper img:nth-child(1) {
  position: absolute;
  top: 0;
  left: 1.5rem;
  z-index: 1;
}

.imageWrapper img:nth-child(2) {
  position: absolute;
  top: 2rem;
  right: 1rem;
  z-index: 2;
  width: 45%;
  height: auto;
}
