.root {
  position: relative;
  margin-top: 3rem;
  overflow: hidden;
  padding-top: 1rem;
  padding-bottom: 1rem;
  .uninons {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
  }

  .titleSection {
    text-align: center;
  }
  .itemsWrapper {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    max-width: 778px;
    margin: auto;
    margin-top: 2rem;
    p {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      text-align: justify;
      text-align-last: center;
      font-size: 1.5rem;
      font-weight: 400;
      @media screen and (max-width: 991px) {
        font-size: 0.75rem;
      }
    }
  }
  .bottomSection {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    @media screen and (max-width: 991px) {
      margin-top: 1rem;
    }
  }
  .navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    &.prev {
      right: 70px;
      left: auto;
    }
    &.next {
      left: 70px;
      right: auto;
    }
  }
}
