.root {
  position: relative;
  margin-top: 3rem;
  overflow: hidden;
  padding-top: 1rem;
  padding-bottom: 1rem;
  .titleSection {
    text-align: center;
  }
  .itemsWrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    gap: 1rem;
    p {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      text-align: justify;
      text-align-last: center;
      font-size: 1.5rem;
      font-weight: 400;
      @media screen and (max-width: 991px) {
        font-size: 0.75rem;
      }
    }
  }
  .bottomSection {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    @media screen and (max-width: 991px) {
      margin-top: 1rem;
    }
  }
}
