.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  border-radius: 0.625rem;
  overflow: hidden;
  align-items: stretch;
  padding-right: 0;
}

.customDivider {
  background-color: var(--divider-color);
  margin: 0.3125rem 0 0.625rem;
}

.title {
  line-height: 4.5rem;
}

.textContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5rem;
  line-height: 2.3rem;
  flex-grow: 1;
  padding: 0;
  text-align: justify; 
}

.preContent,
.textContent {
  width: 80%;
}

.imageContainer {
  display: flex;
  justify-content: start;
  width: 70%;
  align-items: flex-end;
  padding-left: 0;
}

.imageContainer img {
  width: 32.0625rem;
  height: 20.875rem;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 1rem;
}

.localSpan {
  font-weight: 500;
  color: var(--primary-color);
}

@media (max-width: 25.125rem) {
  .content {
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
  }

  .title {
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
    line-height: 1.567rem;
    color: var(--text-color-title);
  }

  .imageContainer {
    justify-content: center;
    width: 90%;
    padding-left: 0;
  }

  .imageContainer img {
    width: 23.125rem;
    height: 14.5625rem;
    object-fit: contain;
    border-radius: 1rem;
  }

  .preContent,
  .textContent {
    width: 100%;
    text-align: right;
  }

  .preContent {
    font-weight: 500;
    color: var(--text-color-subTitle);
    font-size: 1rem;
    line-height: 1.532rem;
  }

  .textContent {
    font-weight: 400;
    color: var(--text-color-title);
    font-size: 0.875rem;
    line-height: 1.326rem;
    text-align:right;
  }

  .textContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .localSpan {
    font-weight: 500;
    color: var(--primary-color);
  }
}
