.header {
  height: 68px;
  display: flex;
  gap: 1rem;
  .nav {
    display: flex;
    align-items: center;
    a {
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
    }
  }
  .userAccount {
    margin-right: auto;
    a {
      padding: 0.5rem 0.75rem;
    }
  }
  .logo {
    display: flex;
    align-items: center;
  }
}
