.root {
  margin-top: 3rem;
  margin-bottom: 3rem;

  .categories {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }

  .productWrapper {
    margin-top: 6.625rem;
    .titleSection {
      text-align: center;
      .subTitle {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        justify-content: center;
      }
    }
  }
  .products {
    display: flex;
    flex-wrap: wrap;
    margin-top: 9.625rem;
    justify-content: space-between;
    row-gap: 9rem;
    column-gap: 1.25rem;

    article {
      flex: 1 1 calc(32%); /* Adjust for 3 columns */
      max-width: calc(32%); /* Ensure max width */
    }
  }
}
