.root {
  display: flex;
  gap: 1rem;

  .textWrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .title {
      h1 {
        font-size: 2.5rem;
        font-weight: 700;
      }
      p {
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
    .lead {
      h5 {
        font-size: 1.5rem;
        font-weight: 600;
      }
      p {
        font-size: 1rem;
        font-weight: 400;
        text-align: justify;
      }
    }
    .moreDetails {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      .suitableFor {
        display: flex;
        gap: 0.5rem;
        width: 50%;
        align-items: center;
      }
      .productSize {
        width: 50%;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        ul {
          width: calc(100% - 68px);
          li {
            display: flex;
            p {
              width: 50%;
            }
          }
        }
      }
    }
  }
}
