.root {
  position: relative;
  .imageWrapper {
    position: relative;
    height: 310px;
    background-color: var(--product-box-bg);
    border: 1px solid var(--product-box-border);
    margin-bottom: 2.625rem;
    border-radius: 1.5rem;

    .productImage {
      position: relative;
      top: -7rem;
      z-index: 2;
      right: 0;
    }
    @media screen and (max-width: 991px) {
      height: 128px;
      margin-bottom: 1rem;
      .productImage {
        top: -2rem;
      }
    }
  }
  .contentWrapper {
    text-align: center;

    h3 {
      font-size: 0.75rem;
    }
    p {
      font-size: 0.625rem;
    }
  }
}
