.root {
  position: relative;
  .imageWrapper {
    position: relative;
    height: 310px;
    background-color: var(--product-box-bg);
    border: 1px solid var(--product-box-border);
    margin-bottom: 2.625rem;
    border-radius: 1.5rem;
    .productImage {
      position: relative;
      top: -7rem;
      z-index: 2;
      right: 0;
    }
  }
  .contentWrapper {
    text-align: center;
  }
}
