.root {
  display: flex;
  gap: 2rem;
  align-items: center;
  h4 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
    text-align: justify;
  }
  img {
    filter: drop-shadow(0 4px 4px var(--shadow-color));
  }
}
